<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmlane - Best movie collections</title>

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" th:href="@{./css/style.css}">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap"
          rel="stylesheet">
</head>

<body id="top">

<!--
  - #HEADER
-->

<header class="header" data-header>
    <div class="container">

        <div class="overlay" data-overlay></div>

        <a href="./index.html" class="logo">
            <img th:src="@{./img/logo.svg}" alt="Filmlane logo">
        </a>

        <!--      <div class="header-actions">-->

        <!--        <button class="search-btn">-->
        <!--          <ion-icon name="search-outline"></ion-icon>-->
        <!--        </button>-->

        <!--        <div class="lang-wrapper">-->
        <!--          <label for="language">-->
        <!--            <ion-icon name="globe-outline"></ion-icon>-->
        <!--          </label>-->

        <!--          <select name="language" id="language">-->
        <!--            <option value="en">EN</option>-->
        <!--            <option value="au">AU</option>-->
        <!--            <option value="ar">AR</option>-->
        <!--            <option value="tu">TU</option>-->
        <!--          </select>-->
        <!--        </div>-->

        <!--        <button class="btn btn-primary">Sign in</button>-->

        <!--      </div>-->

        <button class="menu-open-btn" data-menu-open-btn>
            <ion-icon name="reorder-two"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

            <div class="navbar-top">

                <a href="./index.html" class="logo">
                    <img th:src="@{./img/logo.svg}" alt="Filmlane logo">
                </a>

                <button class="menu-close-btn" data-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>

            </div>

            <!--        <ul class="navbar-list">-->

            <!--          <li>-->
            <!--            <a href="./index.html" class="navbar-link">Home</a>-->
            <!--          </li>-->

            <!--          <li>-->
            <!--            <a href="#" class="navbar-link">Movie</a>-->
            <!--          </li>-->

            <!--          <li>-->
            <!--            <a href="#" class="navbar-link">Tv Show</a>-->
            <!--          </li>-->

            <!--          <li>-->
            <!--            <a href="#" class="navbar-link">Web Series</a>-->
            <!--          </li>-->

            <!--          <li>-->
            <!--            <a href="#" class="navbar-link">Pricing</a>-->
            <!--          </li>-->

            <!--        </ul>-->

            <ul class="navbar-social-list">

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-pinterest"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </li>

            </ul>

        </nav>

    </div>
</header>


<main>
    <article>



        <!--
          - #TOP RATED
        -->

        <section class="top-rated">

            <div class="container  ">
                <form th:method="get" th:action="@{/finder}" th:object="${movieInfo}">
                    <div class="containers search-container" >
                        <input id="searchMovie-input" class="custom-inputs" type="text" placeholder="اسم فیلم" th:field="*{title}"/>
                        <ul id="suggestion-container" class="suggestion-ul"></ul>
                    </div>

                </form>
            </div>


            <section class="top-rated">
                <div class="container">

                    <p class="section-subtitle" th:if="${movieName != null and !movieName.isEmpty()}" th:text="${movieName}"></p>


                    <h2 class="h2 section-title rtl" th:if="${#lists.size(moviesInfo) < 3}" th:text="'موردی پیدا نشد'">فیلم های مشابه</h2>



                    <ul class="movies-list">
                        <li th:if="${#lists.size(moviesInfo) > 0}" th:each="movie :${moviesInfo}">
                            <div class="movie-card">

                                <a href="#">
                                    <figure class="card-banner">
                                        <img th:src="@{${movie.posterUrl}}">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="#">
                                        <h3 class="card-title" th:text="${movie.getTitle()}"></h3>
                                    </a>

                                    <time th:datetime="${movie.getYear()}" th:text="${movie.getYear()}"></time>
                                </div>

<!--                                <div class="card-meta">-->
<!--                                    &lt;!&ndash;                                    <div class="badge badge-outline"></div>&ndash;&gt;-->

<!--                                    &lt;!&ndash;                                    <div class="duration">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <ion-icon name="time-outline"></ion-icon>&ndash;&gt;-->

<!--                                    &lt;!&ndash;                                        <time datetime="PT122M">122 min</time>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--                                    <div class="rating">-->
<!--                                        <ion-icon name="star"></ion-icon>-->

<!--&lt;!&ndash;                                        <data th:text="${movie.getRank()}">7.8</data>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->

                            </div>
                        </li>


                    </ul>

                </div>
                </div>
            </section>


            <!--
              - #top movies
            -->

            <section class="tv-series">
                <div class="container">

                    <p class="section-subtitle rtl">محبوب ترین های این چند وقته ...</p>

                    <h2 class="h2 section-title">داغ ترین ها</h2>

                    <ul class="movies-list">

                        <li th:if="${#lists.size(popularMovies) > 0}" th:each="pmovie :${popularMovies}">
                            <div class="movie-card">

                                <a href="#">
                                    <figure class="card-banner">
                                        <img th:src="@{${pmovie.getPosterUrl()}}" th:alt="${pmovie.getTitle()}+ poster">
                                    </figure>
                                </a>

                                <div class="title-wrapper">
                                    <a href="#">
                                        <h3 class="card-title" th:text="${pmovie.getTitle()}"></h3>
                                    </a>

                                    <time th:datetime="${pmovie.getYear()}" th:text="${pmovie.getYear()}"></time>
                                </div>


                                <!--                                <div class="duration">-->
                                <!--                                    <ion-icon name="time-outline"></ion-icon>-->


                                <!--                                </div>-->


                            </div>

                        </li>


                    </ul>

                </div>
            </section>


    </article>
</main>


<!--
  - #FOOTER
-->

<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-brand-wrapper">

                <a href="./index.html" class="logo">
                    <img th:src="@{./img/logo.svg}" alt="Filmlane logo">
                </a>

            </div>

        </div>
    </div>

</footer>


<!--
  - #GO TO TOP
-->

<a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
</a>


<!--
  - custom js link
-->
<script th:src="@{./js/script.js}"></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>